@import url(main.css);

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 110vh;
    position: relative;
}

section::before {
    content: "";
    background: center / cover url('../imgs/home-page-bg.jpg');
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

main {
    display: flex;
    justify-content: flex-end;
}

section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}

#welcome-msg {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 252, 253, 0.85);
    padding: 20px;
    border-radius: 10px;
    gap: 20px 0;
}