@import url(main.css);

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 110vh;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 40px 0;
}

footer {
    margin-top: 40px;
}

#courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    grid-auto-rows: max-content;
    width: 80%;
    margin: 0 auto;
}

figure img {
    max-height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.8em;
}

figcaption {
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 15px;
    gap: 0.8em 0;
}