@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --btn-color: #648DE5;
    --font-color: #FEFCFD;
    --nav-color: #0A122A;
    --footer-color: #0A122A;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
}

/* Navigation Bar */

header {
    display: flex;
    min-height: 8vh;
    background-color: var(--nav-color);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__bar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 10vw;
    padding: 20px 0;
    color: var(--font-color);
    font-size: 0.9em;
}

.nav__bar li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#logo {
    height: 2.5vh;
    width: auto;
    cursor: pointer;
}

#user {
    position: relative;
}

#profile-img {
    height: 1.5em;
    width: 1.5em;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--font-color);
    cursor: pointer;
}

#user-dropdown {
    position: absolute;
    right: 3px;
    top: 60px;
    width: min-content;
    background-color: var(--font-color);
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#user-dropdown > a {
    text-decoration: none;
    margin: 10px 0;
    color: inherit;
    white-space: nowrap;
}

#dropdown-triangle {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(254, 252, 253);
    top: -10px;
    right: 10px;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    min-height: max-content;
    padding: 20px 0 20px 20px;
    background-color: var(--footer-color);
    color: var(--font-color);
    font-size: 0.9em;
}

button {
    width: max-content;
    padding: 10px 30px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    nav {
        padding-top: 20px;
    }
}