nav {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    background-color: #0A122A;
    align-items: center;
}

.nav__bar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 10vw;
    padding: 20px 0;
    color: #F4F4F4;
    font-size: 0.9em;
}

.nav__bar li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#logo {
    height: 80%;
    width: auto;
    cursor: pointer;
}